.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
}

body {
  width: 100%;
  height: 100%;
  overflow-x: hidden;
  overflow-y: scroll;
  margin: 0;
  padding: 0;
  background-color:  #0A5F8E;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}
.body2 {
  width: 100%;
  height: 100%;
  overflow-x: hidden;
  overflow-y: scroll;
  margin: 0;
  padding: 0;
  background-color:  #0A5F8E;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}
.mic {
  width:200px;
  height:200px;
  font-size: 30px;
  margin-top:39.5%;
  margin-left:26.5%;
  border-radius: 50%;
  background-color: white;
  text-align: center;
  color: #fff;
}

  
.transcript{
  position: absolute;
  top:75%;
  left:25%;
  display: block;
  font-size: 45px;
  letter-spacing: 1px;
  text-transform: capitalize;
}
.transcript2{
  position: absolute;
  top:75%;
  left:17%;
  display: block;
  font-size: 30px;
  letter-spacing: 1px;
  text-transform: capitalize;
}

.pulse {
  margin-top:39.5%;
  margin-left:26.5%;
  width:200px;
  height:200px;
  border-radius: 50%;
  background-color: #FFF;
  color: #fff;
  cursor: pointer;
  box-shadow: 0 0 0 white;
  animation: pulse 4s infinite;
 
}
.pulse:hover {
  animation: none;
}

@-webkit-keyframes pulse {
  0% {
    -webkit-box-shadow: 0 0 0 0 white;
  }
  70% {
      -webkit-box-shadow: 0 0 0 10px white;
  }
  100% {
      -webkit-box-shadow: 0 0 0 0 white;
  }
}
@keyframes pulse {
  0% {
    -moz-box-shadow: 0 0 0 0 white;
    box-shadow: 0 0 0 0 white;
  }
  70% {
      -moz-box-shadow: 0 0 0 10px white;
      box-shadow: 0 0 0 10px rgba(204,169,44, 0);
  }
  100% {
      -moz-box-shadow: 0 0 0 0 rgba(204,169,44, 0);
      box-shadow: 0 0 0 0 rgba(204,169,44, 0);
  }
}
.circle3 {
  width:50%;
  min-height: 100vh;
  height:100%;
  background-size: contain;
  background-repeat: no-repeat;
  text-align: center;
  line-height: 1.5em;
  background-image: url('./logo.svg');
  color: #fff;
  background-color:#122C3B;
  flex-direction: column;
}


.circle2 {
  width:50%;
  min-height: 100vh;
  height:100%;
  background-size: contain;
  background-repeat: no-repeat;
  text-align: center;
  line-height: 1.5em;
  /* background-image: url('./logo.svg'); */
  color: #fff;
  background-color:#122C3B;
  flex-direction: column;
  float: right;
  opacity:0.8;
  
}
 .results{
  list-style: none;
}
.circle{
  width:50%; 
  min-height: 100vh;
  height:100%;
  background-image: url('./logo.svg');
  background-size: contain;
  background-repeat: no-repeat;
  text-align: center;
  color: #fff;
  flex-direction: column;
  float: left;
  
  
}

  
  

/* .circle3 {
  border-radius: 50%;
  background-color: red;
  width: 150px;
  height: 150px;
  opacity: 0;
  animation: scaleIn 4s infinite cubic-bezier(.36, .11, .89, .32);

} */


loader{
  align-items: center

}
.imagespan{
  background-color:#0f0;
}

.result_item{
  list-style: none;
}
.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}
.result-item__definition, .result-item__example{
  text-align: left;
  margin-left:70px;
  font-weight: 200;
  font-size:14px;
}
.result-item__example{
  margin-top:-15px;
}
.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@keyframes scaleIn {
  from {
    transform: scale(.5, .5);
    opacity: .5;
  }
  to {
    transform: scale(2.5, 2.5);
    opacity: 0;
  }
}
